name: Release
on: workflow_dispatch
jobs:
  release:
    permissions:
      contents: write # For git operations
      id-token: write # < REQUIRED FOR OIDC
    if: github.event.repository.fork == false && github.ref == 'refs/heads/master'
    needs: test
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: corepack enable
      - name: git config
        run: |
          git config --global user.name 'Semantic Release Bot'
          git config --global user.email 'semantic-release-bot@martynus.net'
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: yarn install
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn semantic-release